.social-monster {}
.social-monster .dash {
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
}
.social-monster .alert-box {
	text-align:left;
	padding:5px 20px;
}
.social-monster .alert-box .ab-title {
	padding:10px 0 0 40px;
	font-size:16px;
	min-height:26px;
}
.social-monster .alert-box .ab-title.inf {
	background:url('../images/alert_i.gif') left center no-repeat;
}
.social-monster .alert-box .ab-title.wrn {
	background:url('../images/alert_c.gif') left center no-repeat;
}
.social-monster .alert-box .ab-title.err {
	background:url('../images/alert_e.gif') left center no-repeat;
}
.social-monster .alert-box .ab-body {
	padding:15px 0 15px 0;
}
.social-monster .alert-box .ab-buttons {
	text-align:center;
}
.social-monster .alert-box .ab-buttons .btn {
	display:inline-block;
	width:90px;
	padding:4px 0;
	text-align:center;
	cursor:pointer;
	border:1px solid #bcbcbc;
	background-color:#fff;
}
.social-monster .alert-box .ab-buttons .btn.ok {
	margin-left:20px;
}
.social-monster .alert-box .ab-buttons .btn:hover {
	background-color:#f0f0f0;
	color:#0b55c4;
}
.social-monster .dash .title-h2 {
	font-size:23px;
	padding:9px 15px 4px 45px;
	line-height:29px;
	color:#464646;
	background:url('../images//icons32.png') left 7px no-repeat;
}
.social-monster .dash table {
	display:table;
	border:none;
	border-spacing:0;
	border-collapse:collapse;
}
.social-monster .dash table td {
	vertical-align:top;
}
.social-monster .dash h3.title {
	font-size:14px;
	font-weight:bold;
	color:#333;
}
.social-monster .dash .fld-title {
	font-size:12px;
	color:#222;
	text-shadow:#fff 0 1px 0;
	padding:0 100px 20px 0;
}
.social-monster .dash select {
	padding:2px;
	margin:1px;
	outline:0;
	border-color:#dfdfdf;
	-webkit-border-radius:3px;
	border-radius:3px;
	border-width:1px;
	border-style:solid;
	background-color:#fff;
	line-height:15px;
	color:#000;
}
.social-monster .dash input[type="text"] {
	margin:1px;
	padding:3px;
	outline:0;
	-webkit-border-radius:3px;
	border-radius:3px;
	border-width:1px;
	border-style:solid;
	border-color:#dfdfdf;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	background-color:#fff;
	color:#333;
	line-height:15px;
}
.social-monster .dash select:focus,
.social-monster .dash input[type="text"]:focus {
	border-color:#aaa;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.social-monster .dash input[type="button"].btn-action {
	display:inline-block;
	height:24px;
	min-width:150px;
	margin:0;
	padding:0 10px 1px;
	border-color:#21759b;
	border-bottom-color: #1e6a8d;
	border-width:1px;
	border-style:solid;
	-webkit-border-radius:3px;
	-webkit-appearance: none;
	-webkit-box-sizing:border-box;
	-webkit-box-shadow:inset 0 1px 0 rgba(120,200,230,0.5);
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	box-shadow:inset 0 1px 0 rgba(120,200,230,0.5);
	border-radius:3px;
	background-color:#21759b;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#2a95c5),to(#21759b));
	background-image:-webkit-linear-gradient(top,#2a95c5,#21759b);
	background-image:-moz-linear-gradient(top,#2a95c5,#21759b);
	background-image:-ms-linear-gradient(top,#2a95c5,#21759b);
	background-image:-o-linear-gradient(top,#2a95c5,#21759b);
	background-image:linear-gradient(to bottom,#2a95c5,#21759b);
	font-size:12px;
	line-height:23px;
	color:#fff;
	text-decoration:none;
	text-shadow:0 1px 0 rgba(0,0,0,0.1);
	cursor:pointer;
}
.social-monster .dash input[type="button"].btn-action:hover {
	background-color:#278ab7;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#2e9fd2),to(#21759b));
	background-image:-webkit-linear-gradient(top,#2e9fd2,#21759b);
	background-image:-moz-linear-gradient(top,#2e9fd2,#21759b);
	background-image:-ms-linear-gradient(top,#2e9fd2,#21759b);
	background-image:-o-linear-gradient(top,#2e9fd2,#21759b);
	background-image:linear-gradient(to bottom,#2e9fd2,#21759b);
	border-color: #1b607f;
	-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
	box-shadow: inset 0 1px 0 rgba(120,200,230,0.6);
	text-shadow:0 -1px 0 rgba(0,0,0,0.3);
}
.social-monster .dash textarea {
	margin:1px;
	padding:3px;
	outline:0;
	-webkit-border-radius:3px;
	border-radius:3px;
	border-width:1px;
	border-style:solid;
	border-color:#dfdfdf;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	background-color:#fff;
	color:#333;
	line-height:inherit;
}
.social-monster .dash textarea:focus {
	border-color:#aaa;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.social-monster .dash span.move {
	display:inline-block;
	width:24px;
	height:24px;
	background:url('../images/btn-ud.png') left top no-repeat;
	cursor:pointer;
}
.social-monster .dash span.move.dn {
	background-position:left top;
}
.social-monster .dash span.move.up {
	background-position:left -24px;
}
.social-monster .dash .general input[type="text"], select {
	width:135px;
}
.social-monster .dash .msg-action {
	display:inline-block;
	margin-left:10px;
	vertical-align:middle;
	color:#238B38;
}
.social-monster .dash .msg-action.err {
	color:#f00;
}
.social-monster .dash .msg-action.wait {
	min-height:20px;
	min-width:20px;
	background:url('../images/ajax-loader.gif') center no-repeat;
}
.social-monster .dash .tab-btns {
	position:relative;
}
.social-monster .dash .tab-btns .line {
	position:absolute;
	width:100%;
	top:0;
	left:0;
	padding:10px 0 10px 0;
	border-bottom:1px solid #ccc;
	z-index:-1;
}
.social-monster .dash .tab-btns .outer {
	display:inline-block;
	padding:0 0 20px 0;
	vertical-align:top;
}
.social-monster .dash .tab-btns .outer .tab-btn {
	position:relative;
	display:inline-block;
	border:1px solid #dfdfdf;
	border-bottom:none;
	-moz-border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	-khtml-border-top-left-radius:5px;
	border-top-left-radius:5px;
	-moz-border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-khtml-border-top-right-radius:5px;
	border-top-right-radius:5px;
	padding:10px 10px 10px 33px;
	margin-left:10px;
	vertical-align:top;
	background-color:transparent;
}
.social-monster .dash .tab-btns .outer .tab-btn.act {
	background-color:#fff;
	border-color:#ccc;
}
.social-monster .dash .tab-btns .line, .social-monster .dash .tab-btns .outer .tab-btn span {
	font-size:16px;
	line-height:normal;
}
.social-monster .dash .tab-btns .tab-btn span {
	color:#aaa;
	cursor:pointer;
}
.social-monster .dash .tab-btns .tab-btn.act span {
	color:#464646;
}
.social-monster .dash .tab-btns .tab-btn span:hover {
	color:#d54e21;
}
.social-monster .dash .tab-btns .tab-btn .icon {
	position:absolute;
	width:24px;
	height:24px;
	left:3px;
	top:50%;
	margin-top:-12px;
	background-image:url(../images//tab-btns.png);
	background-repeat:no-repeat;
}
.social-monster .dash .tab-btns .tab-btn .icon.share {
	background-position:left top;
}
.social-monster .dash .tab-btns .tab-btn .icon.share.off{
	background-position:-24px top;
}
.social-monster .dash .tab-btns .tab-btn .icon.fb {
	background-position:left -24px;
}
.social-monster .dash .tab-btns .tab-btn .icon.fb.off{
	background-position:-24px -24px;
}
.social-monster .dash .tab-btns .tab-btn .icon.vk {
	background-position:left -48px;
}
.social-monster .dash .tab-btns .tab-btn .icon.vk.off{
	background-position:-24px -48px;
}
.social-monster .dash .tab-btns .tab-btn .icon.int {
	background-position:left -72px;
}
.social-monster .dash .tab-btns .tab-btn .icon.int.off{
	background-position:-24px -72px;
}
.social-monster .dash .tab-btns .tab-btn .icon.sup {
	background-position:left -96px;
}
.social-monster .dash .tab-btns .tab-btn .icon.sup.off {
	background-position:-24px -96px;
}
.social-monster .dash .tab-btns .tab-btn .icon.don {
	background-position:left -120px;
}
.social-monster .dash .tab-btns .tab-btn .icon.don.off{
	background-position:-24px -120px;
}
.social-monster .dash .tabs .tab {
	min-height:625px;
}
.social-monster .dash .tab-share input[type="text"], select {
	width:260px;
}
.social-monster .dash .tab-share .share-sel {
	color:#008000;
	font-weight:bold;
}
.social-monster .dash .tab-share span.hover {
	position:relative;
	color:#21759b;
	text-decoration:underline;
	cursor:pointer;
}
.social-monster .dash .tab-share span.hover:hover {
	color:#d54e21;
}
.social-monster .dash .tab-share span.hover span.screen {
	position:absolute;
	display:none;
	left:0;
	border:1px solid #333;
}
.social-monster .dash .tab-share span.hover:hover span.screen {
	display:inline-block;
}
.social-monster .dash .tab-share span.hover span.screen.num1 {
	width:459px;
	height:223px;
	top:-225px;
	background:url('../images/screen1.jpg') center no-repeat;
}
.social-monster .dash .tab-share span.hover span.screen.num2 {
	width:656px;
	height:127px;
	top:-130px;
	background:url('../images/screen2.jpg') center no-repeat;
}
.social-monster .dash .tab-share textarea {
	width:510px;
	height:205px;
}
.social-monster .dash .tab-share td.field-2col {
	padding-bottom:20px;
}
.social-monster .dash td.field-2col.note {
	padding-top:5px;
	font-style:italic;
}
.social-monster .dash .tab-share .btn {
	display:inline-block;
	width:32px;
	height:32px;
	margin-right:5px;
	vertical-align:top;
	background-image:url('../images/share-btns32.png');
	background-repeat:no-repeat;
	cursor:pointer;
}
.social-monster .dash .tab-share .btn.delicious {
	background-position:left top;
}
.social-monster .dash .tab-share .btn.facebook {
	background-position:-32px top;
}
.social-monster .dash .tab-share .btn.google-plus {
	background-position:-64px top;
}
.social-monster .dash .tab-share .btn.habrahabr {
	background-position:-96px top;
}
.social-monster .dash .tab-share .btn.linked-in {
	background-position:-128px top;
}
.social-monster .dash .tab-share .btn.live-journal {
	background-position:-160px top;
}
.social-monster .dash .tab-share .btn.mail-ru {
	background-position:-192px top;
}
.social-monster .dash .tab-share .btn.moi-krug {
	background-position:-224px top;
}
.social-monster .dash .tab-share .btn.odnoklassniki {
	background-position:-256px top;
}
.social-monster .dash .tab-share .btn.pinterest {
	background-position:-288px top;
}
.social-monster .dash .tab-share .btn.tumblr {
	background-position:-320px top;
}
.social-monster .dash .tab-share .btn.twitter {
	background-position:-352px top;
}
.social-monster .dash .tab-share .btn.vkontakte {
	background-position:-384px top;
}
.social-monster .dash .tab-share .btn.ya-ru {
	background-position:-416px top;
}
.social-monster .dash .tab-share .shsel {
	min-height:32px;
}
.social-monster .dash .tab-fb input[type="text"], select {
	width:260px;
}
.social-monster .dash .tab-vk input[type="text"], select {
	width:260px;
}
.social-monster .dash .tab-vk label.vk-attach {
	display:block;
}
.social-monster .dash .tab-int input[type="text"], select {
	width:260px;
}
.social-monster .dash .tab-sup select {
	width:260px;
}
.social-monster .dash .tab-sup input[type="text"] {
	width:800px;
}
.social-monster .dash .tab-sup textarea {
	width:800px;
	height:200px;
}
.social-monster .dash .tab-don .pay-way {
	width:590px;
	padding:5px 5px 10px 5px;
	background-color:#fefefe;
	border:1px solid #f0f0f0;
}
.social-monster .dash .tab-don .pay-btn {
	height:35px;
	padding: 10px 0 0 130px;
	background-position:left center;
	background-repeat:no-repeat;
	font-size:16px;
	color:#21759b;
}
.social-monster .dash .tab-don .pay-btn.paypal {
	background-image:url('../images/pay/paypal.png');
}
.social-monster .dash .tab-don .pay-btn.yandex {
	background-image:url('../images/pay/yandex.png');
}
.social-monster .dash .tab-don .pay-btn.qiwi {
	background-image:url('../images/pay/qiwi.png');
}
.social-monster .dash .btn-save-hld {
	padding-top:15px;
}